:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Oswald", sans-serif;
  --primary-color: #000;
  --accent-color: #ad1722;
  --accent-color-2: #ffc90f;
  --accent-color-3: #a5363a;
  --accent-color-4: #909090;
  --bg-color: #fff;
  --transition: all .15s;

/*  Чекбокс  */
  --chk-size: 17px;         /* Размер квадратика */
  --chk-bg: #fff;           /* Фон */
  --chk-border: #333;       /* Цвет границы */
  --chk-active-bg: #ffcc00; /* Цвет при выборе (золотой, как кран!) */
  --chk-tick-color: #000;   /* Цвет самой галочки */
}

html {
  scroll-behavior: smooth;
  scroll-padding: 30px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.body {
  background: var(--bg-color);
  font-family: var(--font-family);
  color: var(--primary-color);
  line-height: 1.5;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.title {
  font-family: var(--second-family);
}

.main {
  flex-grow: 1;
}

.burger-icon {
  width: 50px;
  height: 50px;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.burger-icon span {
  position: relative;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
  content: '';
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  transition: var(--transition);
}

.burger-icon span::before,
.burger-icon span::after {
  position: absolute;
}

.burger-icon span::before {
  top: -8px;
}

.burger-icon span::after {
  bottom: -8px;
}

.body--opened-menu .burger-icon span {
  background-color: transparent;
}

.body--opened-menu .burger-icon span::before {
  top: 0;
  transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.body--opened-modal {
  overflow: hidden;
}















