.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.promo__list {
  padding: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 33.75rem));
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.promo__item {
  max-width: 33.75rem;
}

.promo__link {
  padding: 2rem 1rem;
  height: 100%;
  display: grid;
  gap: 3rem;
  border: solid .25rem var(--primary-color);
  border-radius: 1rem;
}

.promo__title,
.promo__subtitle,
.promo__info {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.promo__subtitle,
.promo__info {
  align-self: end;
}

.promo__title {
  color: var(--accent-color-3);
}

.promo__subtitle span {
  color: var(--accent-color-2);
}

.promo__info {
  color: var(--accent-color-4);
}

.main__solutions {
  padding: 3rem 0;
}

.solutions__title {
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.solutions__list {
  margin: 0 auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.solutions__item {
  padding-left: 1.5rem;
  position: relative;
}

.solutions__item::before {
  content: "";
  display: block;
  width: 6px;
  height: 2px;
  background-color: var(--primary-color);
  position: absolute;
  top: .875rem;
  left: .35rem;
}

.works__inner {
  padding: 3rem 0;
}

.works__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.works__swiper-wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 900px;
}

.works__wrapper {
  align-items: center;
}

.works__slide {
  padding: 1rem;
  border: solid 3px var(--accent-color-2);
  border-radius: .5rem;
}

.works__slide img {
  width: 100%;
  object-fit: contain;
}

.works-button-prev,
.works-button-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.works-button-prev {
  left: -70px;
}

.works-button-next {
  right: -70px;
}

.works-button-prev svg,
.works-button-next svg {
  width: 60px;
  height: 60px;
  color: var(--accent-color-2);
}

.works-button-prev svg {
  transform: rotate(180deg);
}



.main__crane-1,
.main__crane-2 {
  padding: 2rem 0;
}

.crane-1__inner {
  padding: 21.25rem 17rem 7rem 0;
  background-image: url('../images/crane-63/a4.webp');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
}

.crane-1__description,
.crane-1__delivery,
.crane-1__diagram,
.crane-1__config {
  max-width: 55rem;
}

.crane-1__title,
.crane-2__title {
  margin-bottom: 5rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
}

.crane-1__title {
  padding-left: 3.125rem;
  max-width: 47rem;
}

.crane-1__title span,
.crane-2__title span {
  color: var(--accent-color-2);
  text-wrap: nowrap;
}

.crane-1__description {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.crane-1__technical-title,
.crane-1__included-title {
  margin-bottom: .75rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--accent-color-2);
}

.crane-1__list {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  font-weight: 600;
}

.crane-1__item,
.delivery__item {
  padding-left: 1rem;
  position: relative;
}

.crane-1__item::before,
.delivery__item::before {
  content: "";
  display: block;
  width: calc(.25rem + 1px);
  height: calc(.25rem + 1px);
  border-radius: 50px;
  background-color: var(--primary-color);
  position: absolute;
  top: .55rem;
  left: calc(.25rem - 1px);
}

.crane-1__delivery,
.crane-1__diagram,
.delivery__list {
  margin-bottom: 3rem;
}

.delivery-title,
.crane-1__diagram-title,
.crane-1__config-title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.delivery-title {
  text-align: center;
}

.delivery__list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  font-weight: 600;
}

.crane-1__diagram,
.crane-1__config {
  padding-left: 80px;
}

.crane-1__diagram-img img,
.crane-1__config-img img,
.crane-2__img img {
  width: 100%;
}

.crane-1__config-img:not(:last-child) {
  margin-bottom: 5rem;
}

.crane-1__config-img {
  max-width: 790px;
}

.crane-2__inner {
  padding: 17rem 0 7rem 350px;
  background-image: url('../images/crane-90/a5.webp');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.crane-2__title {
  margin: 0 auto 5rem;
  max-width: 34rem;
}

.crane-2__delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.crane-2__img {
  max-width: 480px;
}

.crane-2__img:not(:last-child) {
  margin-bottom: 3rem;
}


















